@import url("https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #fff;
  box-sizing: border-box;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
}

.slider {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 100%;

  animation: slide 16s infinite alternate ease-in-out;
}

.slider li {
  width: 100%;
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
}

.form-login,
.form-register {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  text-align: center;
}

.form-register input,
.form-login input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 50%;
  margin: 5px;
  float: right;
  color: black;
}

.form-container form {
  padding: 10px;
  align-items: center;
  flex-direction: column;
  margin: 15px 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

form div {
  display: flex;
  align-items: center;
}

button {
  background-color: green;
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  font-size: large;
}

button:hover {
  cursor: pointer;
  background-color: rgb(0, 78, 0);
}

.login-password,
.register-fecha {
  padding-bottom: 10px;
}

.error {
  flex-direction: column;
  background-color: rgb(241, 61, 61);
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.error:empty {
  display: none;
}

.form-login img,
.form-register img {
  width: 200px;
}

.form-container {
  padding-top: 20px;
}
