@import url("https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

:root {
  --color-fondo: #ffffff;
  --color-texto: #333333;

  --bg-navbar: #f4f4f4;
  --color-navbar-texto: #333333;
  --hover-navbar: rgba(0, 0, 0, 0.1);
}

body.dark-mode {
  --color-fondo: #121212;
  --color-texto: #e0e0e0;
  --bg-navbar: #333333;
  --color-navbar-texto: #ffffff;
  --hover-navbar: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.logo-animado {
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(
    -45deg,
    #004d40,
    #00695c,
    #0f9b0f,
    #26c6da,
    #96c93d,
    #dce775
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: textoFluido 9s ease infinite;
}

@keyframes textoFluido {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  background-color: var(--bg-navbar);
  color: var(--color-navbar-texto);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-navbar-texto);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-navbar-texto);
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.nav-links a:hover {
  background-color: var(--hover-navbar);
  color: green;
}

.btn-formviaje {
  background-color: green;
  color: #fff !important;
  font-weight: bold;
}

.btn-formviaje:hover {
  background-color: #005014 !important;
  color: #fff !important;
}

#btn-tema {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  background-color: green;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

#btn-tema:hover {
  transform: scale(1.1);
  background-color: #005014;
}
