* {
    margin: 0;
    padding: 0;
    font-family: lato;
    box-sizing: border-box;
}

.main  {
    display: flex;
    height: 100vh;
    width: 100%;
}

.slider {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;

    animation: slide 16s infinite alternate ease-in-out;
}

.slider li {
    width: 100%;
    height: 100%;
}

.slider img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    display: block;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}

}

.form-register {
    flex: 1;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    background-color:aliceblue;
    text-align: center;

}

.form-register input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 50%;
    margin: 5px;
    float: right;
}

.form-container form {
    background-color:lightgreen;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    margin: 15px 15px;
}

form div {
    display: flex;
    align-items: center;
}
